
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body style="background-color:rgb(255,255,255);">
  <div border-style: solid class="full" id="map-canvas">
 
  </div>
  
  
  <h1 id = "dispmark" class = "counter">  {{ markercount }} / 10 Marker</h1>
  <h1 id = "outputdist" class = "outputdist">  {{ outputdist }} </h1>
  <h2 id = "time" class = "counter">  Time optimization</h2>
   <input
   id="pac-input"
   class="controls"
   type="text"
   placeholder="Search Box"
   
  />
  
    <input id = "delete"  type="button" value="Delete All" />
    
   
    <input  id = "lancia"  type="button" value="Find route" />
   
    
  
    <label class="toggle" for="myToggle">
      <input class="toggle__input" name="" type="checkbox" id="myToggle">
      <div class="toggle__fill"></div>
  </label>
  
  </body>
